.numeric-keyboard {
    display: inline-block;
    margin-top: 10px;
}

.num-row {
    display: flex;
    justify-content: left;
}

.num-btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}
