.withdrawal-form {
}

.withdrawal-submit-btn {
}

.withdrawal-label {
    display: block;
    margin: 5px;
}

.withdrawal-input {
    width: 170px;
    margin:5px;
}
.withdrawal-content{
    display: flex;
    justify-content: center;
}
